@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url("fonts/Poppins-Light.ttf");
}

:root {
    --blue: #2000E7;
}

.logo {
    width: 251px;
    height: 72px;
    mix-blend-mode: darken;
    margin-left: 78px;

    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #0E0578;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 80px;

    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    color: #686565;

    margin-top: -55px;
}


.menu > a {
    text-decoration: none;
}

.greeting {
    font-family: Poppins;
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    /* margin-top: 216px; */
}

.greeting > h1 {
    width: 372px;
    height: 45px;

    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: var(--blue);

    margin-top: 216px;
}

.greeting > h2 {
    width: 447px;
    height: 144px;
    margin-top: -19px;
    
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: var(--blue);
}

.job {
    color: #F2BD00;
    margin-top: -72px;
    margin-left: 152px;
}

.some-info-about-me {
    width: 616px;
    height: 72px;
    margin-top: -18px;
    margin-left: -1px; 

    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.hire-me-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 86px; */
    margin-left: -1px;


    width: 246px;
    height: 72px;
    border-radius: 10px;
    background-color: var(--blue);
    box-shadow: 11px 21px 15px 6px #00000040;
    

    color: #FFFFFF;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
}

.my-project-button {
    display: flex;
    justify-content: center;
    align-items: center;

    
    width: 246px;
    height: 72px;
    border-radius: 10px;
    border: 2px solid var(--blue);
    box-shadow: 11px 21px 15px 6px #00000040;

    background-color: rgba(32, 0, 231, 0.04);

    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: var(--blue);
}

.inline-flex {
    display: flex;
    gap: 79px;
    margin-top: 86px;
    flex-direction: row;
}

.my-photo {
    width: 564px;
    height: 564px;
    margin-left: 702px;
    margin-top: -450px;
    
}

.my-photo > img {
    border-radius: 0 0 0 191px;
    box-shadow: 36px -32px 0px 0px rgba(135, 117, 249, 0.5);
}