@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url("fonts/Poppins-Light.ttf");
}

.logo {
    width: 251px;
    height: 72px;
    mix-blend-mode: darken;
    margin-left: 78px;

    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #0E0578;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 80px;

    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    color: #686565;

    margin-top: -55px;
}


.menu > a {
    text-decoration: none;
}

main {
    font-family: Poppins;
}


.greeting {
    display: flex;
    flex-direction: column;
    margin-left: 78px;
    /* margin-top: 216px; */
}

.greeting > h1 {
    width: 372px;
    height: 45px;

    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    color: #2000E7;

    /* margin-left: 78px; */
    margin-top: 216px;
}

.greeting > h2 {
    width: 447px;
    height: 144px;
    margin-top: -15px;
    
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #2000E7;
}

.job {
    color: #F2BD00;
    margin-top: -72px;
    margin-left: 152px;
}