@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url("fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url("fonts/Poppins-Light.ttf");
}

.logo {
    width: 251px;
    height: 72px;
    mix-blend-mode: darken;
    margin-left: 78px;

    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
    color: #0E0578;
}
.menu {
    display: flex;
    justify-content: center;
    gap: 80px;

    font-family: Poppins;
    font-weight: normal;
    font-size: 30px;
    color: #686565;

    margin-top: -55px;
}


.menu > a {
    text-decoration: none;
}